#logo h1 {
    font-weight: 200;
    font-size: 3em;
    color: #335;
}

#container {
    margin: 10em auto 0 auto;
    text-align: center;
}

#results {
    margin-top: 4em;
}

.result {
    width: 90%;
    left: 5%;
    height: 300px;
    margin: auto;
}

